rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read: if true;
      // Allow a client to update only these 6 fields in a document
      // allow update: if (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['name']));
    }
  }
}